.btn {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px 23px;
  color: rgba(35, 34, 34, 0.83);
  letter-spacing: 0.5px;
}
.product-btn {
  color: #ffffff;
  background-color: #fa9e21;

  &:hover, &:focus {
    color: #ffffff;
    background-color: $hover-color;
  }
}
.slide-info {
  .product-btn {
    margin-right: 15px;
  }
}
.btn-white {
  background-color: #ffffff;
  padding: 16px 52px;
  display: inline-block;
  margin-top: 6.5%;
}
.btn-white:hover,
.btn-white:focus {
  background-color: #cbcbcb;
  color: rgba(35,34,34,.83);
}
.order-btn {
  color: $main-color;
  font-size: 24px;
  line-height: 45px;
  letter-spacing: 0.5px;
  font-weight: bold;
  float: right;
}
.order-btn:hover,
.order-btn:focus {
  color: $hover-color;
}
.call-mobile-btn {
  display: none;
  cursor: pointer;
}
@media (max-width: 40em) {
  .btn {
    font-size: 20px;
  }
}