.form-group {
  display: inline-block;
  width: 50%;
  float: left;
  padding-right: 58px;
  margin-bottom: 32px;
  input {
    padding-left: 16px;
    height: 56px;
    margin-bottom: 0;
  }
  textarea {
    padding: 20px 16px;
  }
}
.textarea{
  width: 100%;
  textarea {
    height: 179px;
  }
}
label {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
  span {
    color: red;
  }
}
.has-error {
  label {
    color: red;
  }
  input, textarea {
    border: 1px solid red;
    color: red;
  }
}

@media (max-width: 992px) {
  .textarea{
    textarea {
      height: 222px;
      margin-bottom: 0;
    }
  }
}
@media (max-width: 768px) {

}
@media (max-width: 550px) {

}