// color

// foundation
// $body-font-family: $light;
// $body-font-color: $black80;

$paragraph-margin-bottom: 0;
$header-margin-bottom: 0;

$grid-column-gutter: (
  small: 30px,
  medium: 30px,
);

$main-color: #fa9e21;
$hover-color: #cd7600;

@mixin font-sizes ($size, $height) {
  font-size: $size;
  line-height: $height;
}
