footer {
  background-color: #000000;
  height: 100px;
  img {
    margin-left: 12.6%;
  }
}
.copyright {
  display: inline-block;
  float: right;
  color: #b3b3b3;
  font-size: 18px;
  line-height: 100px;
  padding-right: 59px;
}

@media (max-width: 1200px) {
  footer {
    height: 75px;
    img {
      height: 75px;
    }
  }
  .copyright {
    line-height: 75px;
  }
}
@media (max-width: 40em) {
  footer {
    height: 59px;
    img {
      display: none;
    }
    .copyright {
      font-size: 12px;
      line-height:59px;
      padding: 0;
      float: none;
      margin: 0 auto;
      text-align: center;
      display: block;
    }
  }
}