body {
  font-size: 18px;
  line-height: 21px;
  font-family: Roboto;
  background-color: #ffffff;
}
.index-back {
  background-color: #f4f5fc;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
}
a, a:hover, a:focus, a:active {
  color: #000000;
}
header {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  .navigation {
    width: 76.5%;
    margin: 0 auto;
  }
}
.title-logo {
  display: inline-block;
  margin-left: 17px;
}
.menu-wrap {
  text-align: right;
}
.menu {
  display: inline-block;
  li {
    text-transform: uppercase;
    a {
      color: #292727;
      padding: 42px 16px;
    }
    &:hover, &:focus, &:active {
      background-color: #cbcbcb;
    }
  }
}
.btn-group {
  display: flex;
  align-items: center;
  height: 100px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.lang_switcher {
  display: inline-block;
  padding-right: 67px;
  color: #000000;
}
.call-btn {
  display: inline-block;
  img:first-child {
    display: block;
  }
  img:last-child {
    display: none;
  }
}
.call-btn:hover {
  img:last-child {
    display: block;
  }
  img:first-child {
    display: none;
  }
}

.breadcrumbs {
  height: 72px;
  background-color: #ffffff;
  width: 100%;
  padding-left: 12.7%;
  margin: 0 auto;
  li {
    font-size: 16px;
    line-height: 72px;
    text-transform: none;
    font-weight: 300;
    a {
      color: #333333;
    }
  }
}
.breadcrumbs li:not(:last-child):after {
  content: '-';
}
.breadcrumbs li:last-child a {
  color: #b3b3b3;
}
.search, .close-menu {
  display: none;
}


@media (min-width: 993px) {
  .title-bar {
    display: none!important;
  }
  #menu {
    display: inline-block!important;
  }
}
@media (max-width: 1500px) {
  header {
    .navigation {
      width: 90%;
    }
  }
  .menu li a {
    padding: 42px 10px;
  }
  .lang_switcher {
    padding-right: 30px;
    padding-left: 15px;
  }
  .breadcrumbs {
    padding-left: 6.5%;
  }
}
@media (max-width: 1200px) {
  header {
    height: 75px;
    .navigation {
      width: 98%;
    }
  }
  .title-logo {
    img {
      height: 75px;
    }
  }
  .call-btn {
    img {
      width: 50px;
      height: 50px;
    }
  }
  .menu li a {
    padding: 29px 8px;
    font-size: 17px;
  }
  .btn-group {
    height: 75px;
  }
  .breadcrumbs {
    padding-left: 2.9%;
  }
}
@media (max-width: 992px) {
  header {
    height: 61px;
    .navigation {
      position: relative;
      width: 100%;
      text-align: center;
    }
    .title-logo {
      margin: 0 auto;
      float: none;
      img {
        height: 61px;
      }
    }
  }
  .title-bar {
    position: absolute;
    top: 21px;
    left: 56px;
    background-color: transparent;
    padding: 0;
  }
  .menu-icon {
    width: 27px;
    height: 12px;
    &:after {
      width: 27px;
      height: 3px;
      background: #000000;
      box-shadow: 0 7px 0 #000000;
    }
    &:hover:after {
      background: #cacaca;
      box-shadow: 0 7px 0 #cacaca;
    }
  }
  .btn-group {
    position: absolute;
    top: 0;
    right: 54px;
  }
  #menu {
    position: absolute;
    top: 99px;
    left: 0;
    z-index: 200;
    background-color: #ffffff;
    padding: 48px 122px 83px 38px;
    text-align: left;
    li {
      display: block;
      position: relative;
      a {
        padding: 10px 0;
        font-size: 18px;
        line-height: 21px;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 33px;
          height: 4px;
          background-color: $main-color;
          transition: all 0.2s linear;
        }
      }
      a.active:after {
        width: 54px;
      }
      &:hover {
        background-color: transparent;
        a:after {
          width: 54px;
        }
      }
    }
  }
  .close-menu {
    display: block;
    font-size: 16px;
    line-height: 1;
    top: 20px;
    right: 20px;
  }
  .btn-group {
    height: 61px;
  }
}
@media (max-width: 40em) {
  header {
    height: 64px;
    position: relative;
    .title-logo {
      img {
        height: 64px;
      }
    }
  }
  .title-bar {
    left: 18px;
    top: 22px;
  }
  .menu-icon {
    width: 18px;
    height: 16px;
    &:after {
      width: 18px;
      height: 2px;
      box-shadow: 0 6px 0 #000000,  0 12px #000000;
    }
    &:hover:after {
      box-shadow: 0 6px 0 #cacaca, 0 12px #cacaca;
    }
  }
  .lang_switcher {
    display: none;
  }
  .btn-group {
    height: 44px;
    right: 18px;
  }
  .search {
    width: 20px;
    height: auto;
  }
  #menu {
    top: 64px;
    left: 15px;
    padding: 48px 109px 83px 18px;
  }
  .breadcrumbs {
    height: 30px;
    background-color: #f4f5fc;
    li {
      line-height: 30px;
      font-size: 12px;
    }
  }
}