.content-block {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100% !important;
}

.slick-img {
  width: 100%;
  height: auto;
}
.slide-info {
  position: absolute;
  top: 22%;
  left: 25%;
  right:25%;
}
.slide-title {
  @include font-sizes(64px, 75px);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}
.slide-description {
  @include font-sizes(24px, 40px);
  color: #ffffff;
  letter-spacing: 0.5px;
  margin-bottom: 60px;
}
.slick-dots {
  position: absolute;
  bottom: 11%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
  z-index: 100;
  li {
    list-style: none;
    display: inline-block;
    padding: 0 16px;
    button {
      background-color: #c4c4c4;
      width: 18px;
      height: 18px;
      text-indent: -9999px;
      overflow:hidden;
      border: 4px solid transparent;
      box-sizing: border-box;
    }
    &:hover, &:focus  {
      button {
        background-color: $main-color;
        border: 4px solid #ffffff;
      }
    }
    &.slick-active {
      button {
        background-color: $main-color;
        border: 4px solid #ffffff;
      }
    }
  }
}
.arrow{
  position: absolute;
  bottom: 30%;
  z-index: 100;
}
.arrow_left {
  left: 6.25%;
}
.arrow_right {
  right: 6.25%;
}
.arrow_bottom {
  position: absolute;
  bottom: 4.5%;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
}

/*    tabs    */
.tabs-content {
  background-color: $main-color;
  border: 0;
}
.tabs {
  border: 0;
  text-align: center;
  background-color: transparent;
  .tabs-title {
    float: none;
    display: inline-block;
    margin: 0 41px;
    background-color: #e5e5e5;
    width: 318px;
    a {
      color: #292727;
      padding: 14px 18px;
      @include font-sizes(28px, 32px);
    }
  }
}

.tabs-title>a[aria-selected=true],
.tabs-title>a[aria-selected=true]:focus{
  background-color: $main-color!important;
  color: #ffffff;
}
.tabs-title>a:hover{
  background-color: #b2b2b2!important;
  color: #ffffff;
}
.tabs-title>a[aria-selected=true]:hover{
  background-color: $hover-color!important;
  color: #ffffff;
}

.tabs-panel {
  text-align: center;
  padding: 4% 0 6.45%;
  .cur-item:last-child {
    float: left;
  }
}
.our_products {
  .row {
    max-width: 1466px;
    display: flex;
    flex-wrap: wrap;
  }
  &.catalogue {
    .columns:last-child {
      float: left;
    }
  }
}
/*   end tabs    */

.simple-title {
  @include font-sizes(48px, 56px);
  text-align: center;
  font-weight: bold;
  padding: 3.6%;
  margin: 0;
}

/*  CATALOG   */
.prod-info {
  background-color: #ffffff;
  padding: 39px 29px 44px;
}
.prod-name {
  @include font-sizes(28px, 33px);
  text-align: left;
  margin-bottom: 43px;
  font-weight: 400;
}
.prod-item {
  color: #4e5162;
  font-size: 20px;
  margin-bottom: 18px;
  font-weight: 300;
}
.modal_order_content {
  .prod-item {
    color: #333333;
    font-weight: 500;
    .item-left {
      color: #4e5162;
      font-weight: 400;
    }
  }
}
.item-left {
  float: left;
}
.item-right {
  float: right;
}
.color-filter {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid transparent;
  box-sizing: border-box;
  margin: 0 -2px;
  cursor: pointer;
}
.cur-item {
  margin-bottom: 27px;
}
.item-wrap-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  img {
    transform: scale(1.6);
  }
}
.white {
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
}
.grey {
  background-color: #c4c4c4;
}
.black {
  background-color: #292727;
}
.pink {
  background-color: rgba(250, 72, 33, 0.34);
}
.yellow {
  background-color: $main-color;
}
.red {
  background-color: #dc3712;
}
/* end CATALOG   */
.positives {
  background-color: $main-color;
  .row {
    max-width: 1272px;
  }
}
.pos-item {
  text-align: center;
  background-color: #ffffff;
  height: 220px;
  margin: 62px 35px;
  padding: 32px 64px 0;
  p {
    font-size: 16px;
  }
}
.count {
  color: $main-color;
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 32px;
}

.how-to-order {
  .simple-title {
    padding: 102px 0 54px;
  }
}
.order-steps {
  .row {
    max-width: 100%;
    width: 1380px;
  }
  margin-bottom: 9.74%;
}
.step {
  text-align: center;
  h4 {
    @include font-sizes(30px, 35px);
    margin: 22px 0 17px;
  }
  p {
    @include font-sizes(20px, 23px);
  }
}
.step-round {
  position: relative;
  width: 190px;
  height: 190px;
  background-color: $main-color;
  border-radius: 50%;
  text-align: center;
  line-height: 190px;
  margin: 0 auto;
  img {
    max-width: 150px;
  }
}
.step-round:after {
  content: url(../images/step_arrow.svg);
  position: absolute;
  top: 32px;
  right: -63%;
  width: 79px;
  height: 71px;
}
.step:last-child {
  .step-round:after {
    content: none;
  }
}


.about-us {
  background-image: url(../images/about_back.png);
  color: #f4f5fc;
  @include font-sizes(24px, 38px);
  text-align: center;
  .row {
    max-width: 1524px;
    .columns {
      padding: 0 47px;
      text-align: left;
    }
  }
  .btn-white {
    margin: 4.3% 0 4.9%;
  }
}
.back-colored {
  background-color: rgba(1, 12, 52, 0.82);
  padding: 14px;
}
.white-title {
  color: #f4f5fc;
}
.advantages {
  padding: 7.2% 0 8.07%;
  .step-round {
    width: 151px;
    height: 151px;
    line-height: 151px;
    img {
      max-width: 109px;
    }
  }
  .step-round:after {
    content: none;
  }
  h4 {
    margin: 77px 25px 0;
    @include font-sizes(24px, 39px);
  }
}

.our-projects {
  background-color: #292727;
  padding-bottom: 7.4%;
  .simple-title {
    padding: 61px 0;
  }
  .row {
    max-width: 1400px;
  }
}
.img-wrap {
  width: 296px;
  height: 296px;
}
.example-item {
  height: 296px;
  width: 296px;
  position: relative;
  overflow: hidden;
  margin: 0 1.92%;
  padding-left: 0;
  margin-bottom: 60px;
  img:first-child {
    display: block;
  }
  img:last-child {
    display: none;
  }
}
.example-descr {
  position: absolute;
  background-color: rgba(250, 158, 33, 0.86);
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 72%;
  top: 296px;
  transition: all 0.3s linear;
  padding: 35px 42px 47px 18px;
  h5 {
    @include font-sizes(16px, 19px);
    font-weight: 700;
  }
  p {
    @include font-sizes(12px, 17px);
  }
}
.example-item:hover {
  img:first-child {
    display: none;
  }
  img:last-child {
    display: block;
  }
  .example-descr {
    top: 28%;
  }
}

.contacts {
  .row {
    max-width: 100%;
  }
}
.color-title {
  font-size: 26px;
  line-height: 49px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: $main-color;
  margin: 49px 0 36px;
  text-transform: uppercase;
}
.contact {
  background-color: #fffaf3;
  padding: 0 5% 0 7.1%;
  .prod-name {
    margin-bottom: 24px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
  }
}
.feedback {
  background-color: #f8f9fc;
  padding: 0 36px 0 7.65%;
  .product-btn {
    margin: 40px 58px 71px;
  }
}
.contact-info {
  display: inline-block;
  float: left;
}
.address {
  width: 41%;
  margin-right: 20.5%;
}
.schedule {
  width: 38%;
}
.other-cont {
  margin-top: 54px;
  .prod-name {
    margin-bottom: 16px;
  }
  .prod-name:first-child {
    margin-bottom: 24px;
  }
  img {
    margin-right: 16px;
  }
}

.catalogue {
  background-color: #fbeedb;
  padding: 72px 0 117px;
}
.catalogue-descr {
  background-image: url(/dist/images/cat_back.png);
  color: #ffffff;
  .back-colored {
    background-color: rgba(1, 8, 35, 0.72);
    padding: 2.9% 12.6% 4.8%;
  }
  p {
    font-size: 24px;
    line-height: 39px;
    width: 65%;
    display: inline-block;
  }
  .product-btn {
    margin-top: 20px;
    margin-right: 46px;
    display: inline-block;
  }
}
.cat-title {
  font-size: 36px;
  line-height: 57px;
  text-transform: uppercase;
  font-weight: 400;
}

.post-order {
  background-color: #ffffff;
  .row {
    max-width: 74.5%;
  }
  .simple-title {
    text-align: left;
    padding: 80px 0 0;
  }
  .color-title {
    margin: 29px 0 43px;
    font-size: 32px;
    line-height: 38px;
    text-transform: none;
  }
  p {
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 0;
    font-weight: 300;
  }
  .other-cont {
    margin-top: 40px;
    .prod-name:nth-child(2) {
      margin-bottom: 88px;
    }
    .prod-name:last-child {
      margin-bottom: 24px;
    }
    img {
      margin-bottom: 50px;
    }
  }
}
.page-container {
  max-width: 1436px;
  margin: 0 auto;
}
.white-back {
  .positives {
    background-color: #ffffff;
  }
  .cat-title {
    margin: 64px 0 56px;
  }
  .advantages {
    padding-top: 5.79%;
    padding-bottom: 7.14%;
  }
}
.about_blocks {
  margin: 18px 0 34px;
  img {
    max-width: 51%;
  }
  .page-container {
    background-color: #f4f5fc;
  }
  .call-mobile-btn {
    display: none;
  }
}
.block-text {
  width: auto;
  padding: 48px 48px 20px;
  p {
    font-size: 18px;
    line-height: 32px;
  }
}
.about-title {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.contact-container {
  max-width: 100%;
  margin: 0 5.5%;
  position: relative;
  .cat-title {
    padding-left: 15px;
  }
}
.marker {
  position: absolute;
  top: 50%;
  left: 50%;
}
.contacts-detail {
  text-align: center;
  .columns {
    width: auto;
    text-align: left;
  }
  .columns:nth-child(2) {
    float: none;
    display: inline-block;
  }
  .columns:first-child {
    width: 37.6%;
  }
  .columns:last-child {
    float: none;
  }
  h5 {
    font-size: 24px;
    line-height: 39px;
    margin: 0;
  }
  .other-cont {
    text-align: left;
    margin-bottom: 7px;
    padding-left: 15px;
    h5 {
      margin-bottom: 14px;
    }
  }
}
.maps {
  padding-bottom: 66px;
  .color-title {
    margin-bottom: 7px;
  }
}
.item-slider {
  position: relative;
  width: 65%;
  float: left;
  .slider-for{
    width: 85%;
    height: auto;
    max-height: 600px;
    margin: 0 auto 0;
    overflow: hidden;
    margin-right: 0;
    img {
      max-height: 600px;
    }
  }
  .slider-nav{
    width: 107px;
    height: auto;
    min-height: 101px;
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    .slick-list {
      max-height: 409px!important;
    }
    .slick-slide {
      height: 87px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    .slick-current {
      border: 1px solid #fa9e21!important;
      height: 87px;
      width: 107px;
    }
    img {
      width: 105px;
      height: 85px;
    }
    .slick-track {
      height: 85px;
    }
  }
}
.one-item {
  height: 101px!important;
  padding: 0!important;
  margin-top: -8px;
}
.two-item {
  height: 202px!important;
  padding: 0!important;
  margin-top: -8px;
}
.three-item {
  height: 303px!important;
  padding: 0!important;
  margin-top: -8px;
}
.single-product {
  margin: 8px 0 72px;
}
.recommend {
  padding: 64px 0 90px;
  .prod-name {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 16px;
  }
  .prod-info {
    padding: 32px 29px 40px;
  }
  .item-left {
    font-size: 20px;
    line-height: 23px;
    color: $main-color;
    font-weight: 400;
  }
}
.product-detail {
  float: right;
  width: 35%;
  padding-left: 6.14%;
  .cat-title {
    margin: 0!important;
  }
  p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    margin-top: 23px;
  }
}
.item-price {
  font-size: 24px;
  line-height: 52px;
  color: $main-color;
  span {
    font-size: 32px;
  }
}
.colors {
  p {
    font-weight: 500;
  }
  span {
    margin-right: 12px;
    width: 32px;
    height: 32px;
  }
}
.order-item {
  margin-top: 52px;
  width: 70%;
}
.not_found {
  position: relative;
  overflow: hidden;
}
.page_not_found {
  height: 38%;
  background-color: rgba(1, 8, 35, 0.72);
  display: flex;
  align-items: center;
}

.missing_wrap {
  background-image: url(/dist/images/404_back.png);
  background-repeat: no-repeat;
  background-position: 50% 7%;
    }
.missing_details {
  width: 710px;
  margin: 0 auto;
  .simple-title {
    padding: 0 0 32px;
    text-align: left;
    color: #ffffff;
  }
  p {
    color: #ffffff;
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 0;
  }
  .product-btn {
    margin-top: 48px;
    display: inline-block;
  }
}
.page-missing {
  background-color: #ffffff;
}

@keyframes missing-first {
  0% {
    top: 0;
    left: 50%;
  }
  30% {
    top: 20%;
    left: 50%;
  }
  90% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 0;
    left: 50%;
  }
}
@keyframes missing-second {
  0% {
    top: 21.6%;
    left: 50%;
  }
  30% {
    top: 41.6%;
    left: 50%;
  }
  90% {
    top: 21.6%;
    left: 50%;
  }
  100% {
    top: 21.6%;
    left: 50%;
  }
}
@keyframes missing-third {
  0% {
    top: 23%;
    left: 50%;
  }
  30% {
    top: 43%;
    left: 50%;
  }
  90% {
    top: 23%;
    left: 50%;
  }
  100% {
    top: 23%;
    left: 50%;
  }
}
@keyframes missing-fourth {
  0% {
    top: 37.5%;
    left: 50%;
  }
  30% {
    top: 57.5%;
    left: 50%;
    transform: translate(-50%);
  }
  80% {
    opacity: 1;
    top: 57.5%;
    left: 100%;
    transform: translate(0);
  }
  85% {
    opacity: 0;
    top: 57.5%;
    left: 100%;
    transform: translate(0);
  }
  95% {
    opacity: 0;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%);
  }
  99% {
    opacity: 0;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%);
  }
  100% {
    opacity: 1;
    top: 37.5%;
    left: 50%;
    transform: translate(-50%);
  }
}
@keyframes missing-fifth {
  0% {
    top: 38.3%;
    left: 49.5%;
  }
  30% {
    top: 58.3%;
    left: 49.5%;
    transform: translate(-50%);
  }
  80% {
    opacity: 1;
    top: 58.3%;
    left: 100%;
    transform: translate(0);
  }
  85% {
    opacity: 0;
    top: 58.3%;
    left: 100%;
    transform: translate(0);
  }
  95% {
    opacity: 0;
    top: 38.3%;
    left: 49.5%;
    transform: translate(-50%);
  }
  99% {
    opacity: 0;
    top: 38.3%;
    left: 49.5%;
    transform: translate(-50%);
  }
  100% {
    opacity: 1;
    top: 38.3%;
    left: 50%;
    transform: translate(-50%);
  }
}

.pavement_animation {
  position: relative;
  height: 80.5%;
  span {
    font-size: 360px;
    line-height: 360px;
    font-weight: 700;
    position: absolute;
    top: 10%;
    &:first-child {
      left: 31%;
    }
    &:last-child {
      right: 32%;
    }
  }
  img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
  }
  .first_elem {
    top: 0;
    height: 23.5%;
    animation: missing-first 4s infinite;
  }
  .second_elem {
    top: 21.6%;
    height: 9.3%;
    animation: missing-second 4s infinite;
  }
  .third_elem {
    top: 23%;
    height: 30.2%;
    animation: missing-third 4s infinite;
  }
  .fourth_elem {
    top: 37.5%;
    height: 63.8%;
    animation: missing-fourth 4s infinite;
  }
  .fifth_elem {
    top: 38.3%;
    left: 49.5%;
    height: 62.5%;
    animation: missing-fifth 4s infinite;
  }
}

body.is-reveal-open {
  overflow: auto;
}
.reveal-overlay {
  background: none;
  overflow-y: auto!important;
}
#call {
  width: 669px;
  position: absolute;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-50%, -50%);
  padding: 20px;
  overflow: hidden;
}
.feedback-modal {
  text-align: center;
  .form-group {
    float: none;
    margin: 0 auto 16px;
    display: block;
    padding-right: 0;
    width: 52%;
    text-align: left;
    input {
      height: 56px;
    }
  }
  .product-btn {
    display: inline-block;
    margin: 10px auto 65px;
  }
}
.modal_content {
  h5 {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 65px auto 18px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 62px;
      height: 4px;
      background-color: $main-color;
    }
  }
}
.reveal {
  max-width: 100%;
}
#order_item {
  position: absolute;
  bottom: 30px!important;
  right: 0!important;
  top: unset!important;
  overflow: hidden;
  padding: 0 6% 10.2% 5.4%;
  width: 67%;
}
.modal_order_content {
  .close-button {
    top: 49px;
    right: 55px;
    font-size: 1em;
  }
  h3 {
    font-size: 40px;
    line-height: 47px;
    font-weight: bold;
    margin: 9.2% 0 8%;
  }
  .columns {
    padding: 0;
  }
  .medium-6 {
    width: 45%;
  }
  .form-group {
    width: 100%;
    input {
      height: 48px;
    }
    textarea {
      height: 90px;
    }
  }
  .other-cont {
    margin-top: 9%;
    .prod-name {
      margin-bottom: 18px;
      line-height: 1;
      &:first-child {
        margin-bottom: 8px;
      }
    }
  }
  p {
    font-size: 18px;
    line-height: 1;
    text-align: left;
    margin-bottom: 26px;
  }
  .prod-description {
    display: inline-block;
    float: right;
    width: 70%;
    .prod-item {
      font-size: 16px;
      line-height: 1;
      margin-bottom: 3%;
    }
    .item-left {
      min-width: 35%;
      display: block;
    }
  }
  .product-btn {
    padding: 19px 68px;
    margin-top: 52px;
  }
}

.buy-item {
  img {
    width: 29%;
    height: auto;
  }
}
.ordered {
  font-size: 22px;
  line-height: 1;
  color: #000000;
  margin-bottom: 18px;
  text-align: left;
  font-weight: 500;
}
.ordered-item {
  text-align: left;
}
.total {
  background-color: #e5e7f3;
  height: 90px;
  margin-top: 20px;
  padding: 29px 41px;
  .item-left {
    color: $main-color;
    font-size: 22px;
    line-height: 32px;
  }
  .item-right {
    font-size: 32px;
    line-height: 34px;
  }
}

#example {
  width: 100%;
  height: 90%;
  top: 5% !important;
  background-color: #292727;
  overflow: hidden;
  border: transparent;
}
.gallery-slider {
  height: 100%;
  width: 100%!important;
}
.gallery_modal_content {
  position: relative;
  .close-button {
    right: 10%;
    top: 7%;
  }
  .arrow {
    height: 55px;
    top: 44%;
  }
  .arrow_left {
    left: 5%;
  }
  .arrow_right {
    right: 5%;
  }
}
.content-block-gallery {
  width: 83%!important;
  background-color: #ffffff;
  margin: 61px 8.5% 143px;
  padding: 50px 0 55px 45px;
  img {
    width: 78%;
    display: inline-block;
  }
  .example-descr {
    position: static;
    float: right;
    width: 22%;
    margin-top: 4%;
  }
}

@media (max-width: 1500px) {
  .slide-info {
    left: 20%;
    right: 20%;
  }
  .order-steps .row {
    width: 1190px;
  }
  .step-round:after {
    right: -50%;
  }
  .positives .row {
    max-width: 1190px;
  }
  .pos-item {
    padding: 32px 50px;
  }
  .about-us .row .columns {
    padding: 0 25px;
  }
  .page-container {
    max-width: 1100px;
  }
  .our-projects .row {
    max-width: 1190px;
  }
  .our_products .row {
    max-width: 1190px;
  }
  .example-item, .img-wrap {
    width: 275px;
    height: 275px;
  }
  .example-item {
    margin: 0 11px 60px;
  }
  .address {
    width: 50%;
    margin-right: 11.5%;
  }
  .block-text {
    padding: 40px 40px 10px;
  }
  .pavement_animation {
    span {
      font-size: 300px;
      line-height: 300px;
      &:first-child {
        left: 30%;
      }
      &:last-child {
        right: 31%;
      }
    }
  }
  .item-slider {
    .slider-for {
      max-height: 500px;
      width: 82%;
      img {
        max-height: 500px
      }
    }
  }
}
@media (max-width: 1200px) {
  .contact-container {
    margin: 0 1.5%;
  }
  .contacts-detail {
    .columns {
      width: 33.333%!important;
    }
    .columns:last-child {
      width: 52%!important;
    }
  }
  .white-back .cat-title {
    margin: 40px 0;
    line-height: 40px;
  }
  .our-projects .row, .our_products .row {
    max-width: 980px;
  }
  .page-container, .recommend .row {
    max-width: 930px;
  }
  .pos-item {
    margin: 30px 20px;
    padding: 32px 40px 0;
  }
  .advantages h4 {
    margin: 40px 20px 0;
  }
  .catalogue-descr .back-colored {
    padding: 2.9% 7% 4.5%;
  }
  .example-item {
    margin: 0 8px 50px;
  }
  .example-descr {
    padding: 15px 25px 40px 10px
  }
  .img-wrap, .example-item {
    width: 228px;
    height: 228px;
  }
  .about-us {
    font-size: 21px;
    line-height: 31px;
  }
  .step-round {
    width: 160px;
    height: 160px;
    line-height: 160px;
    img {
      max-width: 125px;
      max-height: 100px;
    }
  }
  .step-round:after {
    right: -52%;
  }
  .slide-title {
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 20px;
  }
  .slide-description {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .contact, .feedback {
    padding: 0 3%;
  }
  .prod-name {
    font-size: 24px;
    line-height: 29px;
  }
  .color-title {
    margin: 35px 0 25px;
  }
  .product-detail {
    padding-left: 3%;
  }
  .pavement_animation {
    span {
      font-size: 250px;
      line-height: 250px;
      top: 12%;
      &:first-child {
        left: 24%;
      }
      &:last-child {
        right: 24%;
      }
    }
  }
  .modal_order_content {
   h3 {
     font-size: 32px;
   }
    .total {
      height: 60px;
      margin-top: 10px;
      padding: 15px;
      .item-left {
        font-size:  20px;
      }
      .item-right {
        font-size:  28px;
      }
    }
    .product-btn {
      padding: 19px 45px;
      margin-top: 30px;
    }
  }
  #order_item {
    bottom: 4%!important;
  }
  .content-block-gallery {
    img {
      width: 74%;
    }
    .example-descr {
      width: 26%;
      margin-top: 3%;
    }
  }
  .item-slider {
    .slider-for {
      max-height: 450px;
      width: 79%;
      img {
        max-height: 450px
      }
    }
  }
  .item-wrap-img {
    height: 180px;
  }
}
@media (max-width: 992px) {
  .medium-6 {
    width: 100%;
    height: auto!important;
  }
  .contact {
    padding: 17px 131px 62px 77px;
  }
  .color-title {
    margin-bottom: 16px;
  }
  .address {
    width: 53.5%;
    margin-right: 7.2%;
  }
  .schedule {
    width: 39%;
  }
  .prod-name {
    font-size: 22px;
    line-height:26px;
  }
  .feedback {
    padding: 2px 59px 41px 77px;
    .product-btn {
      margin: 0;
      float: left;
    }
  }
  .our-projects .row, .positives .row {
    max-width: 750px;
  }
  .example-item {
    margin: 0 10px 20px;
    &:last-child {
      float: left!important;
    }
  }
  .advantages {
    display: none;
  }
  .back-colored {
    padding: 48px 60px 72px;
  }
  .simple-title {
    padding: 0 0 50px;
    font-size: 36px;
    line-height: 42px;
  }
  .about-us {
    @include font-sizes(16px, 25px);
    .medium-4 {
      width: 50%;
      margin-bottom: 48px;
      &:last-child {
        float: none;
        margin: 0 auto;
      }
    }
    .btn-white{
      display: none;
    }
    .row .columns {
      padding: 0 12px;
    }
  }
  .pos-item {
    margin: 51px -2px;
    padding: 48px 28px 0;
    height: 188px;
    p {
      font-size: 12px;
      line-height: 17px;
    }
  }
  .count {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 8px;
  }
  .step {
    width: 38%;
    float: none;
    margin: 0 auto 130px;
    &:last-child {
      float: none!important;
    }
  }
  .order-steps {
    .step-round:after {
      content: url(../images/step_arrow_bottom.svg);
      width: 66px;
      height: 60px;
      top: -117px;
      right: 50%;
      transform: translate(50%, 0);
    }
    .step:last-child {
      margin-bottom: 0;
      .step-round:after {
        content: url(../images/step_arrow_bottom.svg);
      }
    }
    .step:first-child {
      .step-round:after {
        content: none;
      }
    }
  }

  .how-to-order .simple-title {
    padding: 51px 0 33px;
  }
  .order-steps {
    margin-bottom: 82px;
  }
  .tabs {
    .tabs-title {
      margin: 0 3.39%;
      width: 41.4%;
    }
  }
  .prod-info {
    padding: 16px 14px;
    .prod-name {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 14px;
    }
  }
  .prod-item {
    margin-bottom: 6px;
    font-size: 16px;
  }
  .prod-description {
    .item-left {
      display: none;
    }
    .item-right {
      float: left;
    }
  }
  .order-btn {
    @include font-sizes(16px, 20px);
    margin-top: 12px;
  }
  .call-btn {
    display: none;
  }
  .call-mobile-btn {
    text-align: center;
    display: block;
    padding: 18px;
    position: relative;
    top: -5px;
  }
  .our_products {
    .simple-title {
      padding: 81px 0 56px;
    }
  }
  .slick-img {
    height: 900px;
    width: auto;
  }
  .slide-info {
    top: 170px;
    left: 7.3%;
    right: 36%;
    .product-btn {
      display: inline-block;
      margin: 0 15px 15px 0;
    }
  }
  .slide-title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 36px;
  }
  .slide-description {
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 50px;
  }
  #call {
    top: 50px!important;
    transform: translate(-50%,0);
  }
  .breadcrumbs {
    height: 49px;
    padding-left: 4.6%;
    li {
      line-height: 49px;
    }
  }
  .catalogue-descr {
    .back-colored {
      padding: 29px 43px 46px;
      position: relative;
    }
    p {
      font-size: 14px;
      line-height: 23px;
      width: 75%;
    }
    .product-btn {
      padding: 0;
      margin: 0;
      background-color: transparent;
      color: $main-color;
      font-size: 22px;
      line-height: 26px;
      float: left;
      text-transform: none;
      padding-right: 15px;
    }
  }
  .cat-title {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 11px;
  }
  .page-container, .contact-container {
    max-width: 90.7%;
    margin: 0 auto;
    .cat-title {
      padding-left: 0;
    }
  }
  .about_blocks {
    margin: 0;
    img {
      max-width: 100%;
    }
    .block-text {
      width: 100%!important;
    }
  }
  .white-back .cat-title {
    margin: 5px 0 12px;
    font-size: 24px;
    line-height: 38px;
  }
  .about-title {
    margin: 0 0 32px;
    font-size: 20px;
    line-height: 38px;
  }
  .block-text {
    padding: 35px 48px;
  }
  .contacts-detail {
    h5 {
      font-size: 22px;
      line-height: 36px;
    }
    .columns {
      padding: 0;
    }
    .columns:first-child, .columns:nth-child(3) {
      width: 52.2%!important;
    }
    .columns:nth-child(2) {
      width: 36.5%!important;
    }
    .columns:last-child {
      width: 36.5%!important;
      float: none;
      display: inline-block;
      margin-top: 30px;
    }
  }
  .maps {
    margin-bottom: 25px;
    padding-bottom: 0;
  }
  .post-order {
    .row {
      max-width: 69%;
      margin-left: 81px;
    }
    .simple-title {
      padding-top: 94px;
    }
    .other-cont .prod-name:nth-child(2) {
      margin-bottom: 27px;
    }
  }
  .item-price {
    font-size: 16px;
    line-height: 16px;
    span {
      font-size: 16px;
    }
  }
  .product-detail {
    width: 46%;
    padding-left: 3.6%;
    p {
      margin: 13px 0;
    }
    .order-item {
      margin-top: 25px;
    }
  }
  .colors {
    span {
      width: 20px;
      height: 20px;
    }
  }
  .single-product {
    margin-bottom: 26px;
    .page-container {
      max-width: 88%;
    }
  }
  .our_products .row {
    max-width: 94.5%;
  }
  .recommend {
    padding: 15px 0 44px;
    .prod-name {
      @include font-sizes(16px, 19px);;
    }
    .prod-description .item-left {
      display: block;
    }
    .prod-info {
      padding: 16px 14px;
      .prod-name, .item-left {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 2px;
      }
    }
  }
  .form-group {
    padding-right: 40px;
  }
  .pavement_animation {
    span {
      top: 35%;
      &:first-child {
        left: 20%;
      }
      &:last-child {
        right: 20%;
      }
    }
  }
  .missing_details {
    width: 72%;
  }
  #order_item {
    width: 88%;
    bottom: 13%!important;
    padding: 0 4% 9% 5%;
  }
  .modal_order_content  {
    h3 {
      margin: 13% 0 4.6%;
      font-size: 22px;
      line-height: 26px;
    }

    .medium-6 {
      width: 42%;
      &:last-child {
        width: 52.5%;
      }
    }
    .form-group {
      input {
        height: 37px;
      }
    }
    .other-cont {
      margin-top: 5px;
      p {
        font-size: 16px;
      }
      .prod-name {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 8px;
      }
    }
    .close-button {
      top: 31px;
      right: 31px;
    }
    .prod-description {
      width: 59%;
      .prod-item {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 12px;
      }
    }
    .buy-item img {
      width: 37%;
    }
    .ordered {
      @include font-sizes(16px, 19px);
      margin-bottom: 12px;
    }
    .total {
      width: 59%;
      height: 37px;
      padding: 8px 12px;
      float: right;
      .item-left, .item-right {
        @include font-sizes(16px, 19px);
      }
    }
    .product-btn {
      width: 100%;
      text-align: center;
    }
  }
  .content-block-gallery {
    padding: 60px 0 0;
    width: 90%!important;
    margin: 61px 5% 50px;
    img {
      display: block;
      width: 100%;
    }
    .example-descr {
      display: block;
      width: 100%;
      margin-top: 0;
    }
  }
  .gallery_modal_content {
    .arrow {
      height: 40px;
      top: 35%
    }
    .arrow_left {
      left: 1%;
    }
    .arrow_right {
      right: 1%;
    }
  }
  .item-slider {
    width: 54%;
    .slider-for{
      width: 67%;
      max-height: 320px;
      img {
        max-height: 320px;
      }
    }
    .slider-nav{
      width: 92px;
      min-height: 85px;
      .slick-list {
        max-height: 290px!important;
      }
      .slick-slide {
        height: 78px;
        margin: 9px 0;
      }
      .slick-current {
        height: 78px;
        width: 92px;
      }
      img {
        width: 90px;
        height: 76px;
      }
      .slick-track {
        height: 78px;
      }
    }
  }
  .one-item {
    height: 85px!important;
    margin-top: -9px;
  }
  .two-item {
    height: 188px!important;
    margin-top: -9px;
  }
  .three-item {
    height: 282px!important;
    margin-top: -9px;
  }
  .item-wrap-img {
    height: 118px;
    img {
      transform: scale(1.3);
    }
  }
  #map {
    height: 460px;
  }
}
@media (max-width: 768px) {
  .example-item {
    width: 30%;
    height: auto;
    padding: 0;
  }
  .img-wrap {
    width: 100%;
    height: auto;
  }
  #call {
    width: 87%;
  }
  .item-wrap-img {
    height: 90px;
    img {
      transform: scale(1.2);
    }
  }
  .slide-info {
    right: 25%;
  }
}
@media (max-width: 40em) {
  .index-slider {
    .slick-arrow {
      display: none!important;
    }
    .slick-dots li {
      padding: 0 8px;
      button {
        width: 9px;
        height: 9px;
        border-width: 2px;
      }
    }
    .slick-dots li.slick-active button,
    .slick-dots li:focus button,
    .slick-dots li:hover button {
      border: 2px solid #fff;
    }
  }
  .slider_bottom {
    width: 24px;
    bottom: 38px;
  }
  .slide-info {
    top: 75px;
    left: 34px;
    right: 50px;
  }
  .slide-title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .slide-description {
    @include font-sizes(16px, 21px);
    margin-bottom: 40px;
  }
  .slick-img {
    height: 446px;
    width: auto;
  }
  .white-back {
    .cat-title {
      @include font-sizes(16px, 25px);
      margin: 12px 0 20px;
    }
  }
  .contacts-detail {
    .contact-container {
      .columns {
        width: 100%!important;
        margin-bottom: 20px;
        h5 {
          @include font-sizes(16px, 23px);
        }
      }
      .other-cont {
        margin-top: 0;
      }
    }
  }
  .color-title {
    font-size: 12px;
    line-height: 23px;
  }
  .maps {
    .color-title {
      margin: 14px 15px 12px;
    }
    .contact-container {
      max-width: 100%;
    }
    #map {
      height: 411px;
    }
  }
  .post-order {
    .row {
      max-width: 100%;
      margin: 0 50px 0 32px;
    }
    p {
      font-size: 14px;
      line-height: 26px;
    }
    .simple-title {
      padding-top: 41px;
      font-size: 18px;
      line-height: 21px;
    }
    .color-title {
      margin: 18px 0;
      @include font-sizes(16px, 19px);
    }
    .other-cont {
      margin: 9px 0;
      .prod-name {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 0;
      }
    }
  }
  .other-cont {
    img {
      width: 24px;
      height: 24px;
      margin-top: 9px;
    }
  }
  .contact, .feedback {
    padding:  22px 30px;
    .color-title {
      font-size: 24px;
      margin: 0 0 20px;
    }
    .product-btn {
      width: 100%;
    }
    p {
      @include font-sizes(16px, 26px);
    }
  }
  .form-group {
    width: 100%;
    padding-right: 0;
    margin-bottom: 11px;
    input {
      height: 38px;
    }
    textarea {
      height: 177px;
    }
  }
  .textarea {
    margin-top: 10px;
  }
  .address, .schedule {
    width: 100%;
    .other-cont {
      img {
        width: 31px;
        height: 31px;
        margin-top: 0;
      }
    }
  }
  .contact {
    .prod-name {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 16px!important;
    }
  }
  .other-cont {
    margin-top: 12px;
  }
  .about_blocks {
    .page-container {
      max-width: 100%;
    }
    .call-mobile-btn {
      display: block;
    }
  }
  .block-text {
    padding: 20px 24px 15px;
    .about-title, p {
      font-size: 12px;
      line-height: 23px;
      margin-bottom: 5px;
    }
  }
  .positives {
    .columns {
      padding: 0;
    }
  }
  .pos-item {
    margin: 0 auto 28px;
    width: 320px;
    height: 194px;
    padding: 20px 50px;
    p {
      @include font-sizes(16px, 30px);
    }
  }
  .count {
    font-size: 64px;
    line-height: 67px;
  }
  #call {
    width: 90.5%;
    top: 64px!important;
    min-height: auto;
    height: auto;
  }
  .modal_content {
    h5 {
      margin: 39px 0 8px;
      font-size: 12px;
      line-height: 14px;
    }
  }
  .feedback-modal {
    .form-group {
      margin: 0 0 12px;
      width: 100%;
      input {
        height: 38px;
      }
    }
    .product-btn {
      width: 100%;
      margin: 10px 0 0;
    }
  }
  .catalogue-descr {
    .back-colored {
      padding: 27px 34px;
    }
    p {
      font-size: 12px;
      line-height: 18px;
      overflow: hidden;
      max-height: 90px;
    }
    .cat-title {
      @include font-sizes(16px, 25px);
      margin-bottom: 17px;
    }
    .product-btn {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
  .our_products {
    padding: 25px 0 29px;
    .row {
      max-width: 100%;
      .cur-item:last-child {
        float: left;
      }
    }
    .medium-4 {
      width: 50%;
    }
    .simple-title {
      padding: 0 0 25px;
    }
  }
  .prod-info {
    padding: 14px 12px;
    .prod-name, .prod-item {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 8px;
    }
    .prod-name {
      min-height: 28px;
    }
  }
  .color-filter {
    width: 13px;
    height: 13px;
    margin:0;
  }
  .order-btn {
    font-size: 14px;
  }
  .step {
    width: 100%;
    margin-bottom: 106px;
    h4 {
      font-size: 22px;
      line-height: 26px;
      margin: 11px 0 8px;
    }
    p {
      @include font-sizes(16px, 19px);
      width: 64%;
      margin: 0 auto;
    }
  }
  .step-round {
    width: 60px;
    height: 60px;
    line-height: 60px;
    img {
      max-width: 45px;
      max-height: 40px;
    }
  }
  .how-to-order .simple-title {
    padding-top: 0;
    width: 80%;
    margin: auto;
  }
  .order-steps {
    margin-bottom: 49px;
    .step-round:after {
      content: url(../images/step_arrow_small.svg);
      width: 42px;
      height: 46px;
      top: -79px;
    }
    .step:last-child .step-round:after {
      content: url(../images/step_arrow_small.svg);
    }
  }
  .tabs {
    .tabs-title {
      margin: 0;
      width: 50%;
      float: left;
      a {
        @include font-sizes(16px, 19px);
      }
    }
  }
  .tabs-panel {
    padding: 34px 0;
  }
  .example-item {
    width: 42.5%;
    margin-bottom: 17px;
    margin-left: 5%;
    margin-right: 2.5%;
    &:nth-child(2n) {
      margin-left: 2.5%;
      margin-right: 5%;
    }
  }
  .example-descr {
    p {
      display: none;
    }
  }
  .our-projects {
    .simple-title {
      padding: 25px 0;
    }
  }
  .simple-title {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 18px;
  }
  .advantages {
    display: block;
    padding: 30px 0 0;
    .step {
      width: 48%;
      float: left;
      margin: 10px 0 30px;
      display: inline-block;
      h4 {
        font-size: 14px;
        line-height: 16px;
        margin: 8px 2px 0;
        height: 32px
      }
    }
    .step-round {
      width: 66px;
      height: 66px;
      line-height: 66px;
      img {
        max-width: 50px;
        max-height: 45px;
      }
    }
  }
  .about-us {
    .back-colored {
      padding: 37px 34px;
      .medium-4 {
        width: 100%;
        &:not(:first-child) {
          display: none;
        }
      }
    }
    .btn-white {
      display: block;
      padding: 16px 18px;
    }
  }
  .positives {
    padding: 31px 0 0;
  }
  .pavement_animation {
    span {
      font-size: 120px;
      line-height: 120px;
      top: 30%;
      &:first-child {
        left: 10%;
      }
      &:last-child {
        right: 10%;
      }
    }
  }
  .missing_details {
    width: 78.8%;
    .simple-title {
      @include font-sizes(16px, 19px);
      padding-bottom: 14px;
    }
    p {
      @include font-sizes(12px, 19px);
    }
    .product-btn {
      margin-top: 14px;
    }
  }
  .recommend {
    padding: 15px 0;
    .cur-item {
      margin-bottom: 17px;
    }
    .prod-name {
      @include font-sizes(14px, 16px);
    }
    .prod-info {
      .item-left, .prod-name {
        font-size: 12px;
      }
    }
  }
  .product-detail {
    padding: 10px 17px 0;
    width: 100%!important;
    p {
      font-size: 14px;
      line-height: 21px;
      margin: 10px 0 15px;
    }
    .order-item {
      display: block;
      margin: 30px auto 0;
    }
  }
  #order_item {
    width: 100%;
    bottom: unset!important;
    padding: 15px 33px;
    top: 64px!important;
    height: auto;
  }
  .modal_order_content {
    .medium-6 {
      width: 100%!important;
    }
    h3 {
      margin-bottom: 24px;
      @include font-sizes(18px, 25px);
      text-transform: uppercase;
      padding-right: 20px;
    }
    .ordered-item {
      margin-top: 42px;
    }
    .prod-description .prod-item {
      margin-bottom: 5px;
    }
    .modal_order_content .total {
      float: none;
      margin: 10px auto;
    }
    .product-btn {
      margin: 30px 0 26px;
    }
  }
  .content-block-gallery {
    width: 100%!important;
    margin: 42px 0;
    .example-descr {
      p {
        display: block;
      }
    }
  }
  .gallery_modal_content {
    .arrow {
      display: none!important;
    }
    .close-button {
      top: 8%;
      right: 6%;
    }
  }
  .item-slider {
    width: 100%;
    .slider-for{
      width: 75%;
      max-height: 250px;
      img {
        max-height: 250px;
      }
    }
    .slider-nav{
      width: 62px;
      min-height: 85px;
      .slick-list {
        max-height: 220px!important;
      }
      .slick-slide {
        height: 52px;
        margin: 3px 0;
      }
      .slick-current {
        height: 52px;
        width: 62px;
      }
      img {
        width: 60px;
        height: 50px;
      }
      .slick-track {
        height: 52px;
      }
    }
  }
  .one-item {
    height: 59px!important;
    margin-top: -3px;
  }
  .two-item {
    height: 117px!important;
    margin-top: -3px;
  }
  .three-item {
    height: 150px!important;
    margin-top: -3px;
  }
  .item-wrap-img {
    height: 74px;
    img {
      transform: scale(1.1);
    }
  }
}

.loader {
  width: 100%;
  height: 100%;
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  position: relative;
  width: 152px;
  height: 135px;
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
}
.rect {
  animation: rect 4s infinite;
  transform-origin: bottom left;
  opacity: 1!important;
  left: -2px!important;
  bottom: -2px!important;
}
.horizontal {
  animation: horizontal 4s infinite;
}
.h_top {
  bottom: 38px!important;
}
.vertical {
  animation: vertical 4s infinite;
}
.v_right {
  left: 42px!important;
}
.circle {
  animation: circle 4s infinite;
}
.small_rect {
  animation: small_rect 4s infinite;
}
.c_top {
  animation: c_top 4s infinite;
}
.c_bottom {
  animation: c_bottom 4s infinite;
}
@keyframes rect {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(2.35);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes horizontal {
  0% {
    left:0;
    opacity: 0;
  }
  25% {
    left:0;
    opacity: 0;
  }
  30% {
    left:2px;
    opacity: 1;
  }
  50% {
    left:86px;
  }
  75% {
    left:86px;
    opacity: 1;
  }
  100% {
    left:0;
    opacity: 0;
  }
}
@keyframes vertical {
  0% {
    bottom:0;
    opacity: 0;
  }
  25% {
    bottom:0;
    opacity: 0;
  }
  30% {
    bottom:2px;
    opacity: 1;
  }
  50% {
    bottom:76px;
  }
  75% {
    bottom:76px;
    opacity: 1;
  }
  100% {
    bottom:0;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    left:10px;
    bottom: 10px;
    opacity: 1;
  }
  25% {
    left: 110px;
    bottom: 100px;
  }
  50% {
    left: 86px;
    bottom: 78px;
  }
  75% {
    left: 86px;
    bottom: 78px
  }
  100% {
    left:10px;
    bottom: 10px;
    opacity: 1;
  }
}
@keyframes small_rect {
  0% {
    left:10px;
    bottom: 10px;
    opacity: 0;
  }
  25% {
    left: 110px;
    bottom: 100px;
    opacity: 0;
  }
  26% {
    left: 110px;
    bottom: 100px;
    opacity: 1;
  }
  50% {
    left: 129px;
    bottom: 115px;
  }
  75% {
    left: 129px;
    bottom: 115px;
  }
  100% {
    left:10px;
    bottom: 10px;
    opacity: 1;
  }
}
@keyframes c_top {
  0% {
    left:10px;
    bottom: 10px;
    opacity: 0;
  }
  25% {
    left: 110px;
    bottom: 100px;
    opacity: 0;
  }
  26% {
    left: 110px;
    bottom: 100px;
    opacity: 1;
  }
  50% {
    left: 86px;
    bottom: 110px;
  }
  75% {
    left: 86px;
    bottom: 110px;
  }
  100% {
    left:10px;
    bottom: 10px;
    opacity: 1;
  }
}
@keyframes c_bottom {
  0% {
    left:10px;
    bottom: 10px;
    opacity: 0;
  }
  25% {
    left: 110px;
    bottom: 100px;
    opacity: 0;
  }
  26% {
    left: 110px;
    bottom: 100px;
    opacity: 1;
  }
  50% {
    left: 125px;
    bottom: 78px;
  }
  75% {
    left: 125px;
    bottom: 78px;
  }
  100% {
    left:10px;
    bottom: 10px;
    opacity: 1;
  }
}
